:root {
  color-scheme: light dark;
  --text-primary: light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 80%));
  --text-secondary: light-dark(hsl(0, 0%, 40%), hsl(0, 0%, 50%));
  --text-tertiary: light-dark(hsl(0, 0%, 70%), hsl(0, 0%, 20%));
  --tint-color: light-dark(#0e753a, #23c86a);
  --background-primary: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 10%));
  --background-secondary: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 15%));
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

html {
  font-family:
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  background-color: var(--background-primary);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

a {
  color: var(--text-secondary);
}

p {
  line-height: 1.75rem;
}

/* Post Styles */

article {
  padding-bottom: 96px;
}

article p {
  line-height: 1.7;
}

article code {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: rgba(80, 50, 50, 0.1);
  padding: 2px 6px;
  border-radius: 6px;
}

article pre {
  padding: 1rem;
  background: rgba(80, 50, 50, 0.1);
  border-radius: 0.5rem;
}

p a {
  color: var(--tint-color);
}

p a:visited {
  color: var(--tint-color);
}

p a:hover {
  text-decoration: underline;
  color: var(--tint-color);
}
