---
import "../styles/global.css"
const currentYear = new Date().getFullYear()
---

<footer>
  <span>Copyright © 2019 – {currentYear} • Evan Freeze</span>
</footer>

<style>
  footer {
    color: var(--text-tertiary-light);
    font-size: 0.7rem;
    padding: 16px 0;
    margin-inline: auto;
  }
</style>
