---
import "../styles/global.css"
const currentYear = new Date().getFullYear()
---

<footer>
  <span>
    © 2009 – {currentYear} • Evan Freeze
  </span>
  <span>I don't use LLMs for anything on this site, nor will I ever.</span>
</footer>

<style>
  footer {
    color: var(--text-tertiary-light);
    font-size: 0.7rem;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
</style>
