---
import "../styles/global.css"
let showEF = Astro.url.pathname !== "/"
---

<header>
  <h1>{showEF && <a href="/">EF</a>}</h1>
  <nav>
    <a href="/posts">Posts</a>
    <a href="/book-log">Book Log</a>
    <a href="/about">About</a>
  </nav>
</header>

<style>
  header {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
  }

  header a {
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: end;
    gap: 16px;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    white-space: nowrap;
  }

  nav a {
    color: var(--text-secondary);
    font-size: 0.85rem;
    font-weight: 500;
    padding: 8px 12px;
  }
  nav a:visited {
    color: var(--text-secondary);
  }

  nav a:hover {
    border-radius: 8px;
    background: var(--background-secondary);
  }
</style>
