---
import SocialIconLink from "./SocialIconLink.astro"
import Mastodon from "./icons/Mastodon.astro"
import Bluesky from "./icons/Bluesky.astro"
import Github from "./icons/Github.astro"
import LinkedIn from "./icons/LinkedIn.astro"
import Letterboxd from "./icons/Letterboxd.astro"
---

<ul>
  <li>
    <SocialIconLink href="https://mastodon.social/@evanfreeze" rel="me">
      <Mastodon />
      <span class="visually-hidden">Evan Freeze on Mastodon</span>
    </SocialIconLink>
  </li>
  <li>
    <SocialIconLink href="https://letterboxd.com/evanfreeze/">
      <Letterboxd />
      <span class="visually-hidden">Evan Freeze on Letterboxed</span>
    </SocialIconLink>
  </li>
  <li>
    <SocialIconLink href="https://bsky.app/profile/evanfreeze.com">
      <Bluesky />
      <span class="visually-hidden">Evan Freeze on Bluesky</span>
    </SocialIconLink>
  </li>
  <li>
    <SocialIconLink href="https://github.com/evanfreeze">
      <Github />
      <span class="visually-hidden">Evan Freeze on Github</span>
    </SocialIconLink>
  </li>
  <li>
    <SocialIconLink href="https://www.linkedin.com/in/evanfreeze/">
      <LinkedIn />
      <span class="visually-hidden">Evan Freeze on LinkedIn</span>
    </SocialIconLink>
  </li>
</ul>

<style>
  ul {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  ul a {
    text-decoration: none;
  }
</style>
