---
const { value } = Astro.props
---

<div class="tag">
  {value}
</div>

<style>
  .tag {
    font-style: italic;
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--background-secondary);
    color: var(--text-tertiary);
    max-width: fit-content;
    white-space: nowrap;
  }
</style>
