---
import '../styles/global.css'
import BaseLayout from "./BaseLayout.astro";
let { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h2>{frontmatter.pubDate}</h2>
  <article>
    <slot />
  </article>
  <a class="all-posts-link" href="/posts">← All Posts</a>
</BaseLayout>

<style>
  h2 {
    font-size: 0.9rem;
    color: var(--text-tertiary-light);
    font-weight: 300;
    margin-bottom: 32px;
  }

  .all-posts-link {
    text-decoration: none;
    color: var(--tint-color)
  }

  @media (prefers-color-scheme: dark) {
    h2 {
      color: var(--text-tertiary-dark);
    }
  }
</style>