html {
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.45;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.35);
    margin: 0 0.5rem;
}

a:visited {
    color: rgba(0, 0, 0, 0.35);
}

a:hover {
    color: black;
}

a:first-of-type {
    margin-left: 0;
}

a:last-of-type {
    margin-right: 0;
}

i {
    color: inherit;
    transition: color 0.2s ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

ul {
    margin: 0;
    text-align: center;
    padding: 0;
    transition: all 0.5s ease-in;
}

.color-bar {
    content: '';
    display: flex;
    height: 10px;
    width: 20rem;
    margin: 1.3rem;
    justify-items: center;
    border-radius: 1rem;
    transition: background 2s ease-in-out;
}
